name: Build and Release
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install musl toolchain
        run: |
          sudo apt-get update
          sudo apt-get install -y musl-tools
      - name: Make all
        run: |
          ./package.sh
      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            build/*
